# .NET / C#
bin/
obj/
.vs/
*.user
*.suo
*.userprefs
appsettings.Development.json
appsettings.local.json

# Node / React + Vite (Frontend)
node_modules/
dist/
dist-ssr/
.npm/
.env
.env.*.local

# SO / Generales
.DS_Store
Thumbs.db